{% extends 'main.html' %}
{% load static %}
<!DOCTYPE html>
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Player pick</title>
</head>
<main>
<section class="projectsList">
      <div class="container">
      <h2>Choose team to pick players</h2>
        <div class="grid grid--three">
            {% for team in teams %}
           <div  class="col-lg-3">
                {% if team.belongs_group_id in group_ids %}
            <div href="{% url 'players-pick' team.id %}" style="background: #a3c537" class="card project">
                {% else %}
            <div href="{% url 'players-pick' team.id %}" class="card project">
                {% endif %}
                <a href="{% url 'players-pick' team.id %}" class="project">
                <img class="project__thumbnail" href="{% url 'players-pick' team.id %}" style='position:relative; left:10px; top:2px; max-width:150px;max-height:150px' src="{{team.image_url}}" alt="project thumbnail" />
                <div class="card__body">
                  <h3 class="project__title"><a style="color: black" href="{% url 'players-pick' team.id %}">{{ team }}</a></h3>
                      Belongs group: {{team.belongs_group}}
                </div>
            </div>
          </div>
            {% endfor %}
        </div>
      </div>
    </section>
  </main>
</html>
{% include 'bottombar.html' %}
{% endblock %}
