{% extends 'main.html' %}
{% load static %}
<!DOCTYPE html>
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<main class="singleProject my-md">
    <div class="container">
      <div class="layout">
        <div class="column column--1of3">
            <a class="im im-angle-left" href="{% url 'groups' %}"> Back to groups </a>
          <h3 class="singleProject__subtitle">Group</h3>
          <h3 class="singleProject__title">{{group.name}}</h3>
            {% if group.owner.id == profile.id %}
        <a class="tag tag--pill tag--main settings__btn" href="{% url 'edit-group' group.id %}"><i
                  class="im im-edit"></i> Edit group</a>
        <td class="settings__tableActions">
                <a class="tag tag--pill tag--main settings__btn" href="{% url 'delete-group' group.id %}?next=/account"><i class="im im-x-mark-circle-o"></i>
                  Delete group</a>
                <td class="settings__tableActions">
                <a class="tag tag--pill tag--main settings__btn" href="{% url 'choose-picking-person' group.id %}?next=/account"><i class="im im-x-mark-circle-o"></i>
                  Choose who's picking player</a>
        {% endif %}
        <div class="column column--2of3">
          <img style='max-width:250px' src="{{group.image_url}}" alt="portfolio thumbgnail" />
          <h3 class="singleProject__subtitle">About the Group</h3>
          <div class="singleProject__info">
            Description: {{group.description}}
          </div>
            <div class="singleProject__info">
            Owner: <a href="{% url 'user-profile' group.owner.id %}" class="project"> {{ group.owner }}</a>
            </div>
            <p>Group members: {% for member in group.members.all %}
            <a href="{% url 'user-profile' member.id %}" class="project">{{ member }},</a>
            {% endfor %}</p>
            <p>Group teams: {% for team in group.teams.all %}
                <a href="{% url 'team' team.id %}" class="project">{{ team }},</a>
            {% endfor %}</p>
            <p>Draft order: {{ group.draft_order_choice }}</p>
            <p>Max players: {{ group.number_of_players }}</p>
          </div>
        </div>
      </div>
    </div>
    </div>
  </main>
</body>
</html>

{% endblock %}
