{% extends 'main.html' %}
{% load static %}
<!DOCTYPE html>
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Groups</title>
</head>
<main>
<section class="projectsList">
      <div class="container">
        <div class="grid grid--three">
            {% for group in groups %}
          <div class="column">
            <div class="card project">

                  <div class="dev__meta">
                    <a  href="{% url 'group' group.id %}" style="margin-left: 30px; font-size: 35px;">
                        {{group.name}}</a></div>
                        <a href="{% url 'group' group.id %}" class="project">
                        <img class="project--thumbnail" style='position:relative; left:30px; text-align: left; max-block-size: 150px; max-width: 180px;  margin-bottom: 5px' src="{{group.image_url}}" alt="project thumbnail" /></a>
                        <div class="card__body" style="float: right">
                        <a href="{% url 'group' group.id %}" class="project">
                      <p>Teams: {{ group.teams.all.count }}</p>
                      <p>Picked players: {{ group.group_players.all.count }} / {%  widthratio group.number_of_players 1 group.teams.all.count %}</p>
                      <p>Max team players: {{ group.number_of_players }}</p>
                            <p>Owner: {{ group.owner }}</p></a></div>
                </div>
          </div>
            {% endfor %}
        </div>
      </div>
    </section>
  </main>
</html>
{% include 'bottombar.html' %}
{% endblock %}
