{% extends 'main.html' %}
{% load static %}
<!DOCTYPE html>
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create a new group bro</title>
</head>

<main class="formPage my-xl">
        <div class="content-box">
            <div class="formWrapper">
                <a class="im im-angle-left" href="{% url 'groups' %}"> Back to groups </a>
                <br>
                <h2>Create a new group</h2>
                    <form class="form" method="POST"  enctype="multipart/form-data">
                            {% csrf_token %}
                            {% for field in form %}
                            <div class="form__field">
                                <label for="formInput#text">{{ field.label }} </label>
                                {{ field }}

                            </div>
                            {% endfor %}
                    	    <br>Hint:  <i class="fa-solid fa-circle-info"></i>
                            <br>A fixed draft keeps the same order each draft round ie. 1-7.
                            <br>Serpentine flips the order every round ie. 1-7, 7-1, 1-7, 7-1.
                            <br><input class="btn btn--sub btn--lg  my-md" type="submit" value="Submit" />
                        </form>
            </div>
        </div>
    </main>



{% endblock %}
