{% extends 'main.html' %}
{% load static %}
<!DOCTYPE html>
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Groups</title>
</head>
<main>
<section class="projectsList">
      <div class="container">
        <div class="grid grid--three">
            {% for group in groups %}
          <div class="column">
            <div class="card project">
                  <div class="two-column-div">
                    <a href="{% url 'group' group.id %}" class="project">
                        <h4 class="center-block">{{group.name}}</h4></a></div>
                        <p><a href="{% url 'group' group.id %}" class="project">
                        <img class="project--thumbnail" style='text-align: right; margin-right: 15px; top:2px; max-width:250px;' src="{{group.image_url}}" alt="project thumbnail" /></a></p>
                        <div class="project__tags" style="float: top">
                      <p>Teams: {{ group.teams.all.count }}</p>
                      <p>Picked players: {{ group.group_players.all.count }} / {%  widthratio group.number_of_players 1 group.teams.all.count %}</p>
                      <p>Max team players: {{ group.number_of_players }}</p>
                            <p>Owner: {{ group.owner }}</p></div>
            </div>
          </div>
            {% endfor %}
        </div>
      </div>
    </section>
  </main>
</html>
{% include 'bottombar.html' %}
{% endblock %}
