{% extends 'index.html' %}
{% load static %}
<!DOCTYPE html>
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create a new team</title>
</head>

<main class="formPage my-xl">
        <div class="content-box">
            <div class="formWrapper">
                <a class="backButton" href="#"><i class="im im-angle-left"></i></a>
                <br>
                {% if profile in team.belongs_group.members.all %}
                <h2>Edit team</h2>
                {% else %}
                <h2>Create a new team</h2>
                {% endif %}
                    <form action="" class="form" method="POST" enctype="multipart/form-data" >
                            {% csrf_token %}
                            {% for field in form %}
                            <div class="form__field">
                                <label for="formInput#text">{{ field.label }} </label>
                                {{ field }}
                            </div>
                            {% endfor %}
                            <br><input class="btn btn--sub btn--lg  my-md" type="submit" value="Submit" />
                        </form>
            </div>
        </div>
    </main>



{% endblock %}
