{% extends 'main.html' %}
{% load static %}
<!DOCTYPE html>
{% block content %}
<head>
    <meta charset="UTF-8">
    <title>Confirm pending pick</title>
<main class="formPage my-xl">
        <div class="content-box">
            <div class="formWrapper">
                <br>
                <form class="form" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <h2>Are you want to delete "{{player}}" from your queue?</h2>
                    <a class="btn btn--sub btn--lg  my-md" href="{% url 'team' team.id %}">Back to team</a>
                    <input class="btn btn--sub btn--lg  my-md" type="submit" value="Yes" />
                </form>

            </div>
        </div>
</main>
    {% include 'bottombar.html' %}
{% endblock %}
