{% extends 'main.html' %}
{% load static %}
{% block content %}
<head>
    <meta charset="UTF-8">
    <title>Confirm pending pick</title>
<main class="formPage my-xl">
        <div class="content-box">
            <div class="formWrapper">
                <br>
                <form class="form" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <h2>Are you want to add "{{player}}" to your queue?</h2>
                    <h3>If you later want to remove this player from the pending list, you can do so on your team page.</h3>
                    <a class="btn btn--sub btn--lg  my-md" href="{% url 'players-pick' team.id %}">Back to pick</a>
                    <input class="btn btn--sub btn--lg  my-md" type="submit" value="Yes" />
                </form>

            </div>
        </div>
</main>
    {% include 'bottombar.html' %}
{% endblock %}
