{% extends 'main.html' %}
{% load static %}
<!DOCTYPE html>
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Players</title>
    <style>
    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      table-layout : fixed;
      width: 70%;
      color: black;
    }

    td, th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;

    }

    tr:nth-child(even) {
      background-color: #dddddd;
    }
    </style>
</head>
<main>



                      <table class="center-block" style="width: 80%" id="PlayersTable">
                        <label class="center-block" for="NameInput"><input class="center-block" type="text" id="NameInput" onkeyup="SearchByName()" placeholder="Type player name"></label>
                        <label class="center-block" for="PositionInput"><input class="center-block" type="text" id="PositionInput" onkeyup="SearchByPosition()" placeholder="Type player position, eg. ST, CB"></label>
                    <a style="margin-left: 250px">Fifa 23 players</a>
                    <tr>
                        <th>Image</th>
                        <th>Name</th>
                        <th>Overall</th>
                        <th>Age</th>
                        <th>Height</th>
                        <th>Player positions</th>
                        <th>Weak foot</th>
                        <th>Preferred foot</th>
                        <th>Skills</th>
                        <th>Work rate</th>
                        <th>Pace</th>
                        <th>Shooting</th>
                        <th>Passing</th>
                        <th>Dribbling</th>
                        <th>Defending</th>
                        <th>Physic</th>
                        <th>Club</th>
                        <th>Nation</th>
                        <th>Sofifa stats</th>
                    </tr>
                        {% for player in players %}

                    <tr>
                        <td><img class="center-block" style='max-width:50px;max-height:70px; ' src="{{player.player_face_url}}" alt="project thumbnail" /></td>
                        <td>{{ player.short_name }}</td>
                        <td>{{ player.overall }}</td>
                        <td>{{ player.age }}</td>
                        <td>{{ player.height_cm }}</td>
                        <td>{{ player.player_positions }}</td>
                        <td>{{ player.weak_foot }}<i class="fa-solid fa-star" style="color: #ffcc25;"></i></td>
                        <td>{{ player.preferred_foot }}</td>
                        <td>{{ player.skill_moves }}<i class="fa-solid fa-star" style="color: #ffcc25;"></i></td>
                        <td>{{ player.work_rate }}</td>
                         {% if player.dribbling > 0 %}
                        <td>{{ player.pace }}</td>
                        <td>{{ player.shooting }}</td>
                        <td>{{ player.passing }}</td>
                        <td>{{ player.defending }}</td>
                        <td>{{ player.dribbling }}</td>
                        <td> {{ player.physic }}</td>
                        {% else %}
                        <td><i class="fa-solid fa-ghost"></i></td>
                        <td><i class="fa-solid fa-ghost"></i></td>
                        <td><i class="fa-solid fa-ghost"></i></td>
                        <td><i class="fa-solid fa-ghost"></i></td>
                        <td><i class="fa-solid fa-ghost"></i></td>
                        <td><i class="fa-solid fa-ghost"></i></td>
                        {% endif %}
                        <td><img class="center-block" alt="" style="width: 35px; max-height: 35px" src="{{ player.club_logo_url }}"/></td>
                        <td><img class="center-block" alt="" style='max-width:30px;max-height:30px' src="{{ player.nation_flag_url }}"/> </td>
                        <td><a href="{{  player.player_url }}">Sofifa stats </a></td>

                    {% endfor %}
                    </tr>
</html>
<script>
function SearchByName() {
  var input, filter, table, tr, td, i, txtValue;
  input = document.getElementById("NameInput");
  filter = input.value.toUpperCase();
  table = document.getElementById("PlayersTable");
  tr = table.getElementsByTagName("tr");
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[1];
    if (td) {
      txtValue = td.textContent || td.innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }
  }
}
</script>
    <script>
function SearchByPosition() {
  var input, filter, table, tr, td, i, txtValue;
  input = document.getElementById("PositionInput");
  filter = input.value.toUpperCase();
  table = document.getElementById("PlayersTable");
  tr = table.getElementsByTagName("tr");
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[5];
    if (td) {
      txtValue = td.textContent || td.innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }
  }
}
</script>

{% endblock %}
